<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col class="text-right">
          <BuildingForm :building="selectedItem" ref="buildingForm" @save="saveBuilding"></BuildingForm>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table :items="buildingItems" :fields="fields">
            <template #cell(capacity)="{ item }">
               {{ item.capacity.toFixed(0).replace(/\d(?=(\d{3})+\.)/g, '$&,' )}}
            </template>
            <template #cell(operators)="{ item }">
              <b-button @click="editBuilding(item)">แก้ไข</b-button
              ><b-button
                class="ml-3"
                variant="danger"
                @click="deleteBuilding(item)"
                >ลบ</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import BuildingForm from './BuildingForm.vue'
import api from '../services/api'

export default {
  components: {
    BuildingForm
  },
  methods: {
    makeToast (title, message, variant = 'sucess', append = false) {
      this.toastCount++
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        autoHideDelay: 3000,
        appendToast: append
      })
    },
    saveBuilding (building) {
      console.log('submit', building)
      if (building._id === '') {
        api.post('http://localhost:3000/buildings', building).then(
          function (response) {
            const newBuilding = response.data
            this.getBuilding()
            this.makeToast('เพิ่มสำเร็จ', 'สินค้า ' + newBuilding._id + 'ถูกเพิ่มแล้ว')
          }.bind(this)
        ).catch(() => {
          this.makeToast('เพิ่มไม่สำเร็จ', 'ไม่สามารถเพิ่มได้ ' + building._id, 'danger')
        })
      } else {
        api.put('http://localhost:3000/buildings/' + building._id, building).then(
          function (response) {
            const updateBuilding = response.data
            this.getBuildings()
            this.makeToast('ปรับปรุงสำเร็จ', 'สินค้า ' + updateBuilding._id + 'ถูกแก้ไขแล้ว')
          }.bind(this)
        ).catch(() => {
          this.makeToast('ปรับปรุงไม่สำเร็จ', 'ไม่สามารถปรับปรุง ' + building._id, 'danger')
        })
      }
    },
    editBuilding (item) {
      this.selectedItem = JSON.parse(JSON.stringify(item))
      this.$nextTick(() => {
        this.$refs.buildingForm.show()
      })
    },
    deleteRoom (building) {
      if (confirm(`คุณต้องการจะลบสินค้า ${building._id} หรือไม่`)) {
        api.delete('http://localhost:3000/buildings/' + building._id).then(
          function (response) {
            this.getBuildings()
            this.makeToast('ลบสำเร็จ', 'สินค้า ' + building._id + 'ถูกลบแล้ว')
          }.bind(this)
        ).catch(() => {
          this.makeToast('ลบไม่สำเร็จ', 'ไม่สามารถลบ ' + building._id, 'danger')
        })
      }
    },
    getBuildings () {
      api.get('http://localhost:3000/buildings').then(function (response) {
        console.log(response)
        this.buildingItems = response.data
      }.bind(this))
    }
  },
  data () {
    return {
      fields: [
        { key: '_id', label: 'ไอดี' },
        { key: 'name', label: 'ชื่อตึก' },
        { key: 'capacity', label: 'จำนวนความจุ' },
        { key: 'operators', label: 'กระบวนการ' }
      ],
      buildingItems: [
      ],
      selectedItem: null
    }
  },
  mounted () {
    this.getBuildings()
  }
}
</script>
<style></style>
