<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col class="text-right">
          <ProductForm :product="selectedItem" ref="productForm" @save="saveProduct"></ProductForm>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table :items="productItems" :fields="fields">
            <template #cell(price)="{ item }">
              ฿ {{ item.price.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,' )}}
            </template>
            <template #cell(operators)="{ item }">
              <b-button @click="editProduct(item)">แก้ไข</b-button
              ><b-button
                class="ml-3"
                variant="danger"
                @click="deleteProduct(item)"
                >ลบ</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import ProductForm from './ProductForm.vue'
import axios from 'axios'
export default {
  components: {
    ProductForm
  },
  methods: {
    makeToast (title, message, variant = 'sucess', append = false) {
      this.toastCount++
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        autoHideDelay: 3000,
        appendToast: append
      })
    },
    saveProduct (product) {
      console.log('submit', product)
      if (product._id === '') {
        axios.post('http://localhost:3000/products', product).then(
          function (response) {
            const newProduct = response.data
            this.getProducts()
            this.makeToast('เพิ่มสำเร็จ', 'สินค้า ' + newProduct._id + 'ถูกเพิ่มแล้ว')
          }.bind(this)
        ).catch(() => {
          this.makeToast('เพิ่มไม่สำเร็จ', 'ไม่สามารถเพิ่มได้ ' + product._id, 'danger')
        })
      } else {
        axios.put('http://localhost:3000/products/' + product._id, product).then(
          function (response) {
            const updateProduct = response.data
            this.getProducts()
            this.makeToast('ปรับปรุงสำเร็จ', 'สินค้า ' + updateProduct._id + 'ถูกแก้ไขแล้ว')
          }.bind(this)
        ).catch(() => {
          this.makeToast('ปรับปรุงไม่สำเร็จ', 'ไม่สามารถปรับปรุง ' + product._id, 'danger')
        })
      }
    },
    editProduct (item) {
      this.selectedItem = JSON.parse(JSON.stringify(item))
      this.$nextTick(() => {
        this.$refs.productForm.show()
      })
    },
    deleteProduct (product) {
      if (confirm(`คุณต้องการจะลบสินค้า ${product._id} หรือไม่`)) {
        axios.delete('http://localhost:3000/products/' + product._id).then(
          function (response) {
            this.getProducts()
            this.makeToast('ลบสำเร็จ', 'สินค้า ' + product._id + 'ถูกลบแล้ว')
          }.bind(this)
        ).catch(() => {
          this.makeToast('ลบไม่สำเร็จ', 'ไม่สามารถลบ ' + product._id, 'danger')
        })
      }
    },
    getProducts () {
      axios.get('http://localhost:3000/products').then(function (response) {
        console.log(response)
        this.productItems = response.data
      }.bind(this))
    }
  },
  data () {
    return {
      fields: [
        { key: 'ลำดับ', lable: 'ไอดี' },
        { key: 'ชื่อผู้จอง', lable: 'ชื่อสินค้า' },
        { key: 'ห้องที่จอง', lable: 'ห้องที่ทำการจอง' },
        { key: 'วันเวลาที่จอง', lable: 'วันที่จอง' },
        { key: 'กระบวนการ', lable: 'กระบวนการ' }
      ],

      productItems: [
        // { ลำดับ: 1, ชื่อผู้จอง: 'นาย ถิรวัฒน์ เจริญรื่น', ห้องที่จอง: 'IT301-01', วันเวลาที่จอง: '2022-04-19 08:00 - 2022-04-19 10:00' },
        // { ลำดับ: 2, ชื่อผู้จอง: 'นาย มงคล โชคอำนวยกิจ', ห้องที่จอง: 'IT301-02', วันเวลาที่จอง: '2022-04-30 08:00 - 2022-04-30 10:00' },
        // { ลำดับ: 3, ชื่อผู้จอง: 'นาย พานคำทอง โพธิสุวรรณ', ห้องที่จอง: 'IT301-03', วันเวลาที่จอง: '2022-04-20 08:00 - 2022-04-20 10:00' },
        // { ลำดับ: 4, ชื่อผู้จอง: 'นาย กิตติพศ เทพนา', ห้องที่จอง: 'IT301-04', วันเวลาที่จอง: '2022-04-21 08:00 - 2022-04-21 10:00' },
        // { ลำดับ: 5, ชื่อผู้จอง: 'นาย วงศธร รัตนนสาลี', ห้องที่จอง: 'IT301-05', วันเวลาที่จอง: '2022-04-21 13:00 - 2022-04-21 15:00' }
      ]
    }
  }
}
</script>
<style lang=""></style>
