<template>
  <div>
    <b-button @click="addNew" variant="primary">เพิ่มห้อง</b-button>
    <b-modal
      id="modal-room"
      ref="modalroom"
      title="ห้อง"
      @show="showModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <b-form @submit.prevent="submit" @reset.stop.prevent="reset">
        <b-form-group
          id="form-group-room-name"
          label="ชื่อห้อง"
          label-for="room-name"
        >
          <b-form-input
            type="text"
            id="room-name"
            placeholder="ชื่อห้อง xxx"
            v-model="form.name"
            :state="validateName"
            autofocus
          >
          </b-form-input>
          <b-form-invalid-feedback :state="validateName">
            ชื่อห้องต้องมีความยาวอย่างน้อย 4 ตัวอักษร
          </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group
          id="form-group-room-capacity"
          label="ความจุ"
          label-for="room-capacity"
        >
          <b-form-input
            type="text"
            id="room-capacity"
            placeholder="ราคา 10.0"
            v-model="form.capacity"
            :state="validateCapacity"
          >
          </b-form-input>
          <b-form-invalid-feedback :state="validateCapacity">
            ราคาสินค้าต้องไม่น้อยกว่าหรือเท่ากับ0.
          </b-form-invalid-feedback>

        </b-form-group>
      </b-form>
      <b-card>
        <pre>
        {{ form }}
      </pre
        >
      </b-card>
    </b-modal>
  </div>
</template>
<script>
export default {
  props: {
    room: Object
  },
  data () {
    return {
      form: {
        _id: '',
        name: '',
        capacity: 0
      },
      isAddNew: false
    }
  },
  computed: {
    validateName () {
      return this.form.name.length >= 3
    },
    validateCapacity () {
      return this.form.capacity !== '' && this.form.capacity >= 0
    },
    validateForm () {
      return this.validateName && this.validateCapacity
    }
  },
  methods: {
    addNew () {
      console.log('addnew')
      this.isAddNew = true
      this.$nextTick(() => {
        this.show()
        this.isAddNew = false
      })
    },
    show () {
      console.log('Show')
      this.$refs.modalroom.show()
    },
    submit () {
      const room = JSON.parse(JSON.stringify(this.form))
      room.capacity = parseFloat(room.capacity)
      this.$emit('save', room)
      this.reset()
    },
    reset () {
      this.form = {
        _id: '',
        name: '',
        capacity: 0
      }
    },
    showModal () {
      if (this.isAddNew) {
        this.reset()
      } else { // edit
        this.form._id = this.room._id
        this.form.name = this.room.name
        this.form.capacity = this.room.capacity
      }
    },
    resetModal (evt) {
      this.reset()
    },
    handleOk (evt) {
      evt.preventDefault()
      if (!this.validateForm) return
      this.submit()
      this.$nextTick(() => {
        this.$bvModal.hide('modal-room')
      })
    }
  }
}
</script>
<style></style>
