<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col class="text-right">
          <RoomForm :room="selectedItem" ref="roomForm" @save="saveRoom"></RoomForm>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table :items="roomItems" :fields="fields">
            <template #cell(capacity)="{ item }">
               {{ item.capacity.toFixed(0).replace(/\d(?=(\d{3})+\.)/g, '$&,' )}}
            </template>
            <template #cell(operators)="{ item }">
              <b-button @click="editRoom(item)">แก้ไข</b-button
              ><b-button
                class="ml-3"
                variant="danger"
                @click="deleteRoom(item)"
                >ลบ</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import RoomForm from './RoomForm.vue'
import api from '../services/api'

export default {
  components: {
    RoomForm
  },
  methods: {
    makeToast (title, message, variant = 'sucess', append = false) {
      this.toastCount++
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        autoHideDelay: 3000,
        appendToast: append
      })
    },
    saveRoom (room) {
      console.log('submit', room)
      if (room._id === '') {
        api.post('http://localhost:3000/rooms', room).then(
          function (response) {
            const newRoom = response.data
            this.getRooms()
            this.makeToast('เพิ่มสำเร็จ', 'สินค้า ' + newRoom._id + 'ถูกเพิ่มแล้ว')
          }.bind(this)
        ).catch(() => {
          this.makeToast('เพิ่มไม่สำเร็จ', 'ไม่สามารถเพิ่มได้ ' + room._id, 'danger')
        })
      } else {
        api.put('http://localhost:3000/rooms/' + room._id, room).then(
          function (response) {
            const updateRoom = response.data
            this.getRooms()
            this.makeToast('ปรับปรุงสำเร็จ', 'สินค้า ' + updateRoom._id + 'ถูกแก้ไขแล้ว')
          }.bind(this)
        ).catch(() => {
          this.makeToast('ปรับปรุงไม่สำเร็จ', 'ไม่สามารถปรับปรุง ' + room._id, 'danger')
        })
      }
    },
    editRoom (item) {
      this.selectedItem = JSON.parse(JSON.stringify(item))
      this.$nextTick(() => {
        this.$refs.roomForm.show()
      })
    },
    deleteRoom (room) {
      if (confirm(`คุณต้องการจะลบสินค้า ${room._id} หรือไม่`)) {
        api.delete('http://localhost:3000/rooms/' + room._id).then(
          function (response) {
            this.getRooms()
            this.makeToast('ลบสำเร็จ', 'สินค้า ' + room._id + 'ถูกลบแล้ว')
          }.bind(this)
        ).catch(() => {
          this.makeToast('ลบไม่สำเร็จ', 'ไม่สามารถลบ ' + room._id, 'danger')
        })
      }
    },
    getRooms () {
      api.get('http://localhost:3000/rooms').then(function (response) {
        console.log(response)
        this.roomItems = response.data
      }.bind(this))
    }
  },
  data () {
    return {
      fields: [
        { key: '_id', label: 'ไอดี' },
        { key: 'name', label: 'ชื่อห้อง' },
        { key: 'capacity', label: 'จำนวนความจุ' },
        { key: 'operators', label: 'กระบวนการ' }
      ],
      roomItems: [
      ],
      selectedItem: null
    }
  },
  mounted () {
    this.getRooms()
  }
}
</script>
<style></style>
