<template>
  <div class="app-menu min-vh-100">
    <img alt="Buu logo" src="../assets/buu.png" width="50%" class="pt-2 pb-2" center>
    <b-nav vertical>

      <b-nav-item @click="showCrudExample = !showCrudExample"
      >อนุมัติการจอง(แอดมิน)
        <b-icon
          :icon="showCrudExample ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item class="sub-menu" v-if="showCrudExample" to='/product'
        >อนุมัติการจอง(แอดมิน)</b-nav-item
      >

      <b-nav-item @click="showCrudExample = !showCrudExample"
      >จัดการห้อง(แอดมิน)
        <b-icon
          :icon="showCrudExample ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item class="sub-menu" v-if="showCrudExample" to='/room'
        >จัดการห้อง</b-nav-item
      >
      <b-nav-item @click="showCrudExample = !showCrudExample"
      >จัดการตึก(แอดมิน)
        <b-icon
          :icon="showCrudExample ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item class="sub-menu" v-if="showCrudExample" to='/building'
        >จัดการตึก</b-nav-item
      >

      <b-nav-item @click="showCrudExample = !showCrudExample"
      >เลือกห้องที่ต้องการจอง
        <b-icon
          :icon="showCrudExample ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item class="sub-menu" v-if="showCrudExample" to='./calendar'
        >เลือกวันเวลาในการจอง</b-nav-item
      >

            <b-nav-item @click="showCrudExample = !showCrudExample"
      >จัดการบัญชีผู้ใช้
        <b-icon
          :icon="showCrudExample ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      >
      </b-nav-item>
      <b-nav-item class="sub-menu" v-if="showCrudExample" to='./'
        >ออกจากระบบ</b-nav-item
      >

    </b-nav>
  </div>
</template>
<script>
export default {
  data () {
    return {
      showFormInput: false,
      showForm: false,
      showCrudExample: false
    }
  }
}
</script>
<style>
.app-menu {
  background-color: rgb(100, 100, 100);
  font-size: 10pt;
}
.sub-menu {
  padding-left: 10pt;
}
.nav-link {
  color: white;
  text-align: left;
}
.nav-link:hover {
  color: gold;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

</style>
