vue
<template>
  <div class="a">
    <b-navbar>
      <b-navbar-brand href="#" >ระบบจองห้องมหาวิทยาลัยบูรพา (BURAPHA UNIVERSITY) </b-navbar-brand>
    </b-navbar>
  </div>
</template>
<script>
export default {}
</script>
<style>
.a {
  background-color: darkgoldenrod;
  font-weight: bold;
  color: #2c3e50;
}
</style>
